-var common_dir ='/common/';
-var imageCommonPath = common_dir+'img/';

footer.footer
  .inner.inner--footer
    p.title 吉田税理士事務所
    p.address 〒105-0004 東京都港区新橋1-18-11 一松ビル8Ｆ
    .footer-wrap
      p.tel TEL　03-5501-0002
      p.fax FAX　03-5501-0003
    p.copy Copyright © Yoshida Tax Accounting Office<br class="sp"> All Rights Reserved.
