-var common_dir ='/common/';
-var imageCommonPath = common_dir+'img/';

header.header
  .header-container
    h1.logo
      a.link(href="/#top")
        span.name-ja 吉田税理士事務所
        span.name-en Tax Accounting Office
    .global-menu
      .menu-btn
        span
        span
        span
      .menu
        ul.menu-list
          li.menu-list__item
            a(href="/#top") トップ
          li.menu-list__item
            a(href="/news") 新着情報
          li.menu-list__item
            a(href="/company") 組織概要
          li.menu-list__item
            a(href="/service") 業務内容
          li.menu-list__item
            a(href="/#access") アクセス
        .menu-logo
          span.name-ja 吉田税理士事務所
          span.name-en Tax Accounting Office
            
