-
  var newsList = [
    {
      id: '0',
      date: '2016-01-01',
      title: 'おかげさまで開業20年',
      text: [
        '平成８年１月の開業以来、おかげさまで満20年を迎えることができました。',
        'これもひとえに皆様のご支援のおかげと感謝しております。',
        '今後とも皆様のお役に立てるよう所員一同精進してまいりますので、引き続きご指導ご鞭撻のほど宜しくお願い申し上げます。',
      ],
    },
    {
      id: '1',
      date: '2016-01-04',
      title: '金融証券税制',
      text: [
        '今年から国債や地方債など特定公社債等の譲渡が課税対象とされるとともに、上場株式等と非上場株式の譲渡損益の相殺ができなくなるなど金融証券税制が改正されましたのでご注意ください。',
        '詳しくは当事務所までお問合せください。',
      ],
    },
    {
      id: '2',
      date: '2016-03-21',
      title: '役員に対する貸付金利息の利率',
      text: [
        '会社が役員に対して貸付金を有してはいないだろうか。このような場合には、法人は役員から適正な金利を徴収する必要があるので注意を要する。',
        '会社が役員に対して金銭を無償又は通常の利率よりも低い利率で貸し付けた場合には、通常の利率により計算した利息の金額と実際に徴収した利息の金額との差額は、役員に対して経済的利益の供与がなされたものとして、課税の対象となる。',
        'ここでいう通常の利息とは\n（１）会社が他から借入れて貸し付けたものが明らかである場合はその借入金の利率\n（１）会社が他から借入れて貸し付けたものが明らかである場合はその借入金の利率\n（２）その他の場合は、貸し付けを行った日の前年の11月30日を経過する時における基準割引率\nおよび基準貸付利率に年４％の利率を加算した利率とされている。',
        '従って、課税を避けるためには、上記（１）、（２）から算定された利率で利息を徴収する必要がある。',
        'なお、逆のケースで、役員が会社に対して貸付を行っている場合は、原則として、利息を徴収しなくても問題にはならない。',
      ],
    },
    {
      id: '3',
      date: '2016-03-30',
      title: '免税事業者や消費者から仕入れたとき',
      text: [
        '消費税の納付税額は、預った消費税額から支払った消費税額を差し引いて計算することとしている。',
        '支払った消費税額を計算する場合は商品等の税込価格に108分の8をして計算することになるが、免税事業者から仕入れた場合や事業者ではない単なる消費者から仕入れた場合も、このような計算をしていいものか疑問に思うかもしれない。',
        'しかし、免税事業者や消費者から仕入れた場合でも上記のような計算をしてよいことになっている。',
        '例えば、免税事業者である下請業者に外注費100万円を支払ったとする。この100万円の支払の中には、その108分の8に相当する74,074円の消費税額が含まれているものとして計算する。このことは、事業用の建物や器具などを事業者でない人から購入したり賃借する場合も同じことになる。',
      ],
    },
    {
      id: '4',
      date: '2016-04-13',
      title: '養老保険の法人税法上の取扱い',
      text: [
        '法人が契約者となり、役員又は使用人を被保険者とする養老保険に加入して支払った保険料は、保険金の受取人に応じて直ちに損金計上されず次のような取扱となるので注意を要したい。\nなお、養老保険とは、満期又は被保険者の死亡によって保険金が支払われる生命保険のことをいう。',
        '(1)死亡保険金及び生存保険金の受取人が法人の場合\nその支払った保険料の額は、保険事故の発生又は保険契約の解除、若しくは失効により当該保険契約が終了する時まで損金の額に算入されず、資産に計上する必要がある。',
        '(2)死亡保険金及び生存保険金の受取人が被保険者又はその遺族の場合\nその支払った保険料の額は、被保険者である役員又は使用人に対する給与として損金の額に算入する。\nなお、給与とされた保険料は、その役員又は使用人の生命保険料控除の対象となる。',
        '(3)死亡保険金の受取人が被保険者の遺族で、生存保険金の受取人が法人の場合\nその支払った保険料の額のうち、その2分の1に相当する金額は資産に計上し、残額は期間の経過に応じて保険料として損金の額に算入する。\nただし、役員又は部課長その他特定の使用人のみを被保険者としている場合には、保険料として損金算入することはできず、それぞれ役員又は使用人に対する給与として損金になる（給与とされた保険料の取扱いについては上記（2）と同様。）。\nまた、役員に対する給与とされる保険料の額で法人が経常的に負担するものは、定期同額給与とされる。',
      ],
    },
    {
      id: '5',
      date: '2016-05-07',
      title: '会社が従業員等から預った源泉所得税の納付',
      text: [
        '法人が従業員から源泉徴収した所得税は、原則として、給与などを実際に支払った月の翌月10日までに国に納めなければならない。\nしかし、給与の支給人員が常時9人以下のものは、源泉徴収した所得税を半年分まとめて納めることができる特例が設けられている。これを納期の特例という。',
        'この特例の対象となるのは、給与や退職金から源泉徴収をした所得税と、税理士報酬などから源泉徴収をした所得税に限られている。\nこの特例を受けていると、その年の1月から6月までに源泉徴収した所得税は7月10日、7月から12月までに源泉徴収した所得税は翌年1月10日（一定の場合は1月20日）が、それぞれ納付期限になる。\nまた、この特例を受けるためには「源泉所得税の納期の特例の承認に関する申請書」をその法人の所轄税務署に提出することが必要である。',
        '中小企業は源泉徴収に係る事務負担や資金繰りの観点からも上記の特例を知っていると便利である。また、以前は給与支払人員が10名以上であったが今は9名以下である場合であってもこの特例を受けることが出来るので、もしこのような状態に該当するのであれば一度考慮したいところである。',
      ],
    },
    {
      id: '6',
      date: '2016-05-14',
      title: '自動車リサイクル料の税務上の取扱い',
      text: [
        '平成17年1月1日より自動車リサイクル法が施行され、現在は法人個人を問わず車種に応じたリサイクル料を負担しなければならないが、いまだにその税務上の処理が正しく行われていないケースがみられる。',
        '自動車リサイクル料とは、自動車を廃棄する際に要する費用であるが、この料金は車を新しく購入した際や車検などの際に支払う「前払い方式」をとっており、実際に廃棄されるまでは資金管理法人によって管理されている。',
        'つまり、リサイクル料は資金管理法人に預託したものとみなされることから、会社がリサイクル料を支払った場合には、預託金として法人税法上の資産に計上される（消費税の処理は不課税となる）。',
        'ただし、リサイクル料の中に資金管理料金という名称のものがあるが、これは資金管理法人の運用や管理等に充てられるため、法人税法上は費用処理し、消費税の取扱いでは課税仕入れとすることになっている。',
        'リサイクル料の処理については、法人税・消費税ともに案外間違いやすいので、正しく処理されているか見直してみてほしい。',
      ],
    },
    {
      id: '7',
      date: '2016-06-04',
      title: '使用済自動車に係る自動車重量税の廃車還付制度',
      text: [
        '使用済自動車が自動車リサイクル法に基づいて適正に解体された場合（引取業者へ引渡し、①「移動報告番号」②「解体報告記録がなされた日」の連絡を受けた場合）は、申請すると車検残存期間（1ヶ月以上が要件）に相当する自動車重量税額が還付されることはご存知だろうか。\n還付申請は、永久抹消登録申請書又は解体届出書（上記①②などを記載する。）と還付申請書を運輸支局等へ提出することによって行う。\n\n永久抹消登録申請書、解体届出書、還付申請書は、申請者の負担軽減の観点から一体となった様式になっているため、比較的活用しやすい。',
        'ただし、いくつか注意していただきたい点がある。\n①	還付申請は、適正に解体された旨の連絡を受けてから15日以内に行わなければならない。\n②	還付申請は、抹消登録申請又は解体届出と同時に行わなければならない。\n③	自動車を売却又は下取りに出した場合は還付を受けることはできない。\n④	還付金が支払われるまでには、おおむね3ヶ月程度かかる。',
        '以上の注意事項を踏まえ、自動車の廃車をお考えの際は、この制度の活用をご検討いただきたい。',
      ],
    },
    {
      id: '8',
      date: '2016-06-22',
      title: '消費税の課税売上げ課税仕入れの時期',
      text: [
        '消費税の経理処理をする場合、課税資産の譲渡等や課税仕入れの時期が論点となることがある。これは法人税と同様、原則として、資産の引渡しやサ－ビスの提供があった時とされている。',
        '例えば、工事代金を前受けしていたり、資産の購入代金を前払したとしても、その受取りや支払いの時期に関係なく、実際に引渡しやサ－ビスの提供があった時が売上げや仕入れの時期となる。\n同じように、未収金や未払金がある時も、その代金の決済の時期に関係なく、資産の引渡しやサ－ビスの提供があった時が売上げや仕入れの時期になる。',
        'なお、前払費用のうち、法人税の取扱いにより損金の額に算入することが認められている短期前払費用は、その支出した課税期間の課税仕入れに含めることになるため、結果的にその期に納付する消費税額の減額につながる。',
      ],
    },
    {
      id: '9',
      date: '2016-06-26',
      title: '中古資産の耐用年数',
      text: [
        '中古資産を取得して事業の用に供した場合、その資産の耐用年数は、法定耐用年数ではなく、その事業の用に供した時以後の使用可能期間として見積もられる年数によることができる。 また、使用可能期間の見積りに多額の費用を要するなど、その見積りが困難であるときは、次の簡便法により算定した年数によることができる。',
        '①法定耐用年数の全部を経過した資産\n見積耐用年数＝法定耐用年数×20％\n②法定耐用年数の一部を経過した資産\n見積耐用年数＝(法定耐用年数－経過年数)＋経過年数×20％\nなお、算出した年数に１年未満の端数があるときはその端数を切り捨て、その年数が２年に満たない場合には２年とされる。',
        '例えば、法定耐用年数が15年で、経過年数が７年の中古資産の簡便法による見積耐用年数は、｢(15年－７年)＋７年×20％＝9.4年｣となり、端数を切り捨て９年となる。',
        'なお、耐用年数の見積りは、その中古資産を事業の用に供した事業年度でのみ行うことができ、その事業年度で耐用年数の見積りをしなかったときは、その後の事業年度に耐用年数の見積りをすることはできない。また、その中古資産の再取得価額の50％に相当する金額を超える改良を行った場合など一定の場合は、法定耐用年数を適用することになるので注意が必要である。',
      ],
    },
    {
      id: '10',
      date: '2016-08-11',
      title: '無償取引でも課税される消費税',
      text: [
        '消費税の課税標準となる金額は、通常当事者間で授受することとした対価の額となる。しかし、下記のように無償等で資産の移転が行われた場合には、次のそれぞれの金額を課税標準とすることがある。',
        '①法人が自社商品などをその役員に贈与したり、著しく低い価額で譲渡した場合\n…その自社商品の時価\n②代物弁済をした場合…代物弁済により消滅する債務の額\n③資産を交換した場合…交換により取得する物品の時価',
        'なお、①に関して対象になるのは自社の役員のみであり、使用人である場合やたとえ役員であっても、社内販売等の規定に基づいて全社員一律に割引等を受けることができる場合には①に該当しないこととなる。',
        '取引の内容によっては相手から収受した金額ではなく時価等を課税標準としなければならないので注意したい。',
      ],
    },
    {
      id: '11',
      date: '2016-08-17',
      title: '個人から資産を買い入れた場合の印紙税',
      text: [
        '不動産業を営んでいる法人が、商品不動産を業者ではなく個人から仕入れることもあるだろう。この場合、その個人から受取る金銭の受取書（領収書）に印紙を貼ってもらう必要はあるだろうか。',
        '印紙税法においては金銭又は有価証券の受領書を課税の対象としているが、営業に関しないものは非課税とされている。ここに営業とは利益を得ることを目的として同種の行為を反復継続することを指している。\n従って、個人が持っている自宅などを買い入れた場合はその金銭と引き換えに受領する領収書に印紙を貼らなくてもいいことになっている。',
        '一定の金額を超えると印紙を貼らなくてはならないと誤解をしている場合は注意をしたい。',
      ],
    },
    {
      id: '12',
      date: '2016-09-01',
      title: '役員に対して支給される超過勤務手当',
      text: [
        '役員に対して使用人同様に超過勤務手当を支給している会社もあるだろう。この役員に対する超過勤務手当は法人税法上、損金として認められるだろうか。',
        '会社と役員との関係は、雇用契約ではなく委任関係とされており、そもそも勤務時間という概念自体がない。従って、超過勤務手当の支給ということ自体が想定されないはずである。現実問題として役員に対して超過勤務手当が支給された場合は、職務執行に際して事前に支給額が定められるものではなく、事後的に支給されたものと捉えられるため、損金に計上される定期同額給与等には該当せず、損金算入は認められないことになる。ただし、役員が使用人兼務役員であり、超過勤務手当の支給が使用人としての職務の対価としてなされるものであれば、使用人分の給与として損金算入が認められることになる。',
        '役員に対する歩合給についても、同様の考え方になるので、役員に対し超過勤務手当や歩合給を支給している場合はご留意いただきたい。',
      ],
    },
    {
      id: '13',
      date: '2016-09-16',
      title: '売掛金等の債権が貸し倒れたら？',
      text: [
        '売掛金などが貸倒れとなったときは、貸倒れとなった金額に対応する消費税額を貸倒れの発生した課税期間の売上げに対する消費税額から控除する。対象となる貸倒れは、消費税を預ることとなる売掛金その他の債権に限り、税務上、貸倒れとして認められる主な例は次のようなものである。 ',
        '①会社更生法の規定による更生計画認可の決定、民事再生法の規定による再生計画認可の決定などにより債権の切捨てがあったこと。 \n②債務者の財産状況、支払能力等からみてその債務者が債務の全額を弁済できないことが明らかであること。 \n③その他一定の事実 ',
        '貸倒れとして消費税額を控除するためには、債権の切捨ての事実を証する書類その他貸倒れの事実を明らかにする書面の保存をしておくことが必要であり、保存がない場合は控除できないので注意したい。 ',
      ],
    },
    {
      id: '14',
      date: '2016-09-29',
      title: '消費税を早期に還付させるには？',
      text: [
        '消費税の課税事業者である輸出業者は、売上にかかる消費税は無いのに、仕入・経費にかかる消費税が生じるため、確定申告書の提出により消費税の還付を受けることができる（簡易課税の適用を受けているものを除く）。この還付消費税について、一日も早く還付してもらいたいところだが、そんな方法はないのだろうか。',
        '基本的に法人の場合、消費税の計算期間は事業年度（通常は一年）と一致している。しかし「課税期間特例選択・変更届出書」をその選択しようとする課税期間の初日の前日までに提出すれば、次のように課税期間を短縮することが出来る。',
        '①	事業年度が三月を超える場合にはその事業年度を三月ごとに区分した各期間\n例えば事業年度が4月1日から翌年3月31日までの場合\n4/1から6/30、7/1から9/30、10/1から12/31、1/1から3/31\n②	事業年度が一月を超える場合にはその事業年度を一月ごとに区分した各期間\n例えば事業年度が4月1日から翌年3月31日までの場合\n4/1から4/30、5/1から5/31…2/1から2/28、3/1から3/31',
        '届出書を提出すれば上記のように3ヶ月ごとないしは1ヶ月ごとに消費税を計算し、一年後を待たないで、その期間ごとに還付を受けることが出来るのである。\nただし、課税期間を短縮した期間の都度、消費税を計算し申告書を提出しなければならないので、事務的な負担は増えることに注意したい。',
      ],
    },
    {
      id: '15',
      date: '2016-10-07',
      title: '消費税の会計処理',
      text: [
        '消費税の納税義務者である事業者は、法人税の所得計算に当たり、消費税等について税抜経理方式又は税込経理方式のどちらを選択してもよいこととされている。\n税抜経理方式による場合は、課税売上げに係る消費税等の額は仮受消費税等とし、課税仕入れに係る消費税等の額については仮払消費税等と処理し、基本的には仮受消費税等と仮払消費税等の差額が納付税額となる。\n税込経理方式による場合は、課税売上げに係る消費税等の額は売上金額、仕入れに係る消費税等の額は仕入金額などに含めて計上し、消費税等の納付税額は租税公課として損金の額に算入することになる。\n基本的には上記いずれの経理方式によった場合でも法人の利益（所得）に違いはない。しかし、経理方式の違いにより以下の特徴がある。',
        '1. 税抜経理方式の場合\n①長所…消費税抜きの本来の損益が把握でき、仮受消費税と仮払消費税の差額でおよその消費税納付税額の算出が可能であること\n②短所…取引のつど消費税法上の判断が要求され日々の処理が煩雑になること',
        '2. 税込経理方式の場合\n①長所…日々の会計処理は総額計算となるため税抜処理のような煩雑さはないこと\n②短所…決算まで消費税納付税額を把握することが困難であること',
        'なお、消費税の免税事業者である場合には、そもそも消費税を預からないことから税込経理の方法でしか処理できないことになる。',
      ],
    },
    {
      id: '16',
      date: '2016-11-04',
      title: '修繕費とならないものの判定',
      text: [
        '税務調査の際によく問題となる資本的支出と修繕費の区分について、判断に迷うことは少なくないが、法人税では両者の相違点を次のように示している。',
        '＜資本的支出＞　固定資産の価値を高め、又は耐久性を増加させる等の積極的な支出。\n・・・資産として計上し、減価償却を行うため、支出した事業年度では全額損金計上できないとされている。',
        '＜　修繕費　＞　固定資産の通常の維持管理及び原状回復のため等の消極的な支出。\n・・・修繕費として支出した事業年度に損金算入が認められる。',
        '例えば、次のような支出は原則として修繕費にはならず資本的支出となる。',
        '（1）	建物の避難階段の取付けなど、物理的に付け加えた部分の金額\n（2）	用途変更のための模様替えなど、改造や改装に直接要した金額\n（3）	機械の部分品を特に品質や性能の高いものに取替えた場合で、その取替えの金額のうち通常の取替えの金額を超える部分の金額',
        'ただし、明らかに資本的支出に該当した場合でも、金額が20万円未満の場合又はおおむね3年以内の期間を周期として行われる修理、改良などである場合は、修繕費とすることができる。',
        'また、資本的支出と修繕費の区分が明らかでない場合に、その金額が次のいずれかに該当するときは、修繕費として損金経理することができる。',
        '①	　　60万円未満\n②	　　前期末取得価額のおおむね10％以下\n特例 　支出金額の30％相当額と前期末取得価額の10％相当額とのいずれか少ない\n金額（継続適用を要件とし、残額を資本的支出としている場合）',
      ],
    },
    {
      id: '17',
      date: '2016-11-21',
      title: 'マンションの一室を事務所として使っていたら？',
      text: [
        'まだ事業を開始して間もない時期や、比較的小規模の事業を展開している会社では、住宅用のマンションの一室を事務所として使用しているケースも多いのではないだろうか。この場合に問題となりがちなのが、事務所の家賃の消費税法上の取り扱いである。',
        '賃貸借に係る契約において「住宅用」として借り受けていたマンションの一室を事務所に使用したとしても、当該事務所の貸借料は課税仕入れには該当しないことになる。というのも、消費税法上、住宅の貸付は非課税であり、たとえ事務所として利用していても、契約において住宅用であれば、非課税として取り扱われることになっているからだ。',
        'なお、その後、契約当事者間で事務所用に使用することについて再契約した場合には、その用途変更の契約をした後においては、課税仕入れとなる。',
        '今現在マンションの一室を事務所としている会社は、一度契約書を確認してみるとよいであろう。',
      ],
    },
    {
      id: '18',
      date: '2016-11-30',
      title: '短期前払費用の取扱い',
      text: [
        '法人が一定の契約により継続的に役務提供を受けるために支出した費用のうち、その事業年度終了の時において、まだ提供を受けていない役務に対応するものを前払費用といい、原則として、支出時は資産計上しておき、役務提供を受けた時に損金の額に算入する。',
        'しかし、前払費用のうち地代家賃・保険料・支払利息など、その支払った日から１年以内に提供を受ける役務に係るものを支払った場合、その支払った金額を継続してその事業年度の損金の額に算入しているときは、いわゆる短期前払費用としてその支払時点で損金の額に算入することが認められる。これを上手に利用すれば、決算対策として有効な方法である。',
        'ただし、借入金を預金や有価証券などに運用する場合のその借入金の支払利息のように、収益と対応させる必要があるものについては、たとえ１年以内の短期前払費用であっても、支払時点で損金の額に算入することは認められない。',
      ],
    },
    {
      id: '19',
      date: '2017-01-01',
      title: 'あけましておめでとうございます',
      text: [
        '新年あけましておねでとうございます。',
        '今年も皆様のお役にたてるよう頑張って参ります。',
        '今年も宜しくお願いいたします。',
      ],
    },
    {
      id: '20',
      date: '2017-02-12',
      title: '5000円以下の飲食に関する書類を保存していますか？',
      text: [
        '法人税等において交際費は、資本金１億円超の大法人で飲食費の50%、資本金１億円以下の中小法人でも飲食費の50%と年800万円以下のいずれか多い金額までの損金算入が認められ、それを超える部分は損金不算入である。したがって、どうせ支払うなら交際費にならない方が法人税等の節税分だけ得である。',
        '得意先等との飲食費は、基本的には交際費であるが、飲食費のうち、その支出する金額を飲食等に参加した者の数で割って計算した金額が5,000円以下である費用は交際費から除かれる。',
        'ただし、この規定は、①飲食等の年月日、②飲食等に参加した得意先、仕入先その他事業に関係のある者等の氏名又は名称及びその関係、③飲食等に参加した者の数、④その費用の金額並びに飲食店等の名称及び所在地、⑤その他参考となるべき事項を記載した書類を保存している場合に限り適用されるので、日頃から書類を整備することが重要となる。',
      ],
    },
    {
      id: '21',
      date: '2017-02-23',
      title: '棚卸資産に係る消費税額の調整',
      text: [
        '免税事業者は売上にかかる消費税額を納めなくていい反面、支払った消費税額についても何ら考慮されないため、免税事業者時代の仕入れにかかる消費税は、原則として控除できない。しかし、今期から消費税の課税事業者になった法人が、前期以前に仕入れた棚卸資産にかかる消費税を控除することが出来る規定があることをご存知であろうか。',
        '消費税の免税事業者であった法人が、今期から新たに課税事業者となる場合には、期首棚卸資産に係る消費税額（免税事業者であった期間に仕入れたものに限る）を今期の預った消費税から控除することができる。ただし、この適用を受けるためには、その対象となる棚卸資産の明細を記録した書類を7年間保存しなければならない。',
        'これとは逆に今期まで課税事業者である法人が来期から免税事業者となる場合には、今期末において所有する棚卸資産に係る消費税額（今期中に仕入れたものに限る）は、支払った消費税額に含まれないことになる。この場合には上記の書類保存義務等はないことになっている。',
        '免税事業者から課税事業者になった場合又はその逆となった場合は、棚卸資産に係る消費税額に注意を払って欲しい。',
      ],
    },
    {
      id: '22',
      date: '2017-03-16',
      title: '法人が支出したゴルフクラブの入会金及び会費等の取扱い',
      text: [
        '法人がゴルフクラブの入会金を支払った場合、それが法人会員か個人会員か、特定の役員等のみが利用するのか否かなどにより取扱いが異なる。',
        '法人会員の場合、基本的に資産に計上される。ただし、記名式の法人会員で名義人である特定の役員又は使用人が専ら法人の業務に関係なく利用するときは、これらの人に対する給与となる。',
        '\n個人会員の場合、個人会員である特定の役員又は使用人に対する給与となる。ただし、無記名式の法人会員制度がないために個人会員として入会し、その入会金を法人が資産に計上した場合、その入会が法人の業務の遂行上必要であるため法人が負担すべきものであると認められるときは、その処理が認められる。',
        'ゴルフクラブに入会すれば、その後、年会費や年決めのロッカー代などの費用がかかる。これらの費用については、その入会金が資産に計上されている場合には交際費となり、給与とされている場合には会員である特定の役員又は使用人に対する給与となる。\nなお、法人が資産として計上した入会金は償却できないが、ゴルフクラブを脱退しても入会金が返還されない場合は、その返還されない部分の入会金の額は脱退をした事業年度の損金の額に算入される。',
      ],
    },
    {
      id: '23',
      date: '2017-03-31',
      title: '税制改正法案が成立しました',
      text: [
        '平成29年度税制改正法案が成立しました。',
        '配偶者控除額の改正など個人に影響するものから、所得拡大税制の見直しなど会社経営に影響するものまでさまざまです。',
        '詳しくは当事務所までお気軽にお問い合わせください。',
        '',
      ],
    },
    {
      id: '24',
      date: '2017-04-01',
      title: '不動産を取得した場合の固定資産税精算金の取扱い',
      text: [
        '法人が不動産を取得するにあたり、売買代金とは別に「固定資産税精算金」を支払うのが一般的である。この固定資産税精算金は取得時に損金とするか取得価額に含めるのかが問題となる。',
        '「固定資産税」は１月１日の所有者に当年度分の納税義務があり、一般的に損金算入が認められる。しかし、固定資産税精算金は「税」ではなく、売主に納税義務がある固定資産税のうち取得後の期間に対応する金額を、不動産取引の慣習として「精算金」して精算しているに過ぎず、売買代金の調整として取得価額に含めることになる。',
        '「固定資産税」と「固定資産税精算金」では一見同じものに見えるがまったく違うものであるので注意をしたい。',
      ],
    },
    {
      id: '25',
      date: '2017-04-10',
      title: '振替納税（残高不足にご注意ください）',
      text: [
        '平成28年分の確定申告に係る振替納税は、\n所得税が4月20日（木）\n消費税が4月25日（火）です。',
        '残高不足で引落しできない場合は、申告期限（所得税は3月15日、消費税は3月31日）に遡って延滞税がかかりますので注意してください。',
      ],
    },
    {
      id: '26',
      date: '2017-04-25',
      title: '自社株評価額が変わります',
      text: [
        '自社株を評価する際に考慮する類似業種比準方式の計算が改正されました。\nこれにより、利益を多く出す会社の評価額は下がる傾向ですが、配当や純資産が厚い会社の評価額は上がる傾向にありますのでご注意ください。',
        '詳しくは当事務所までお気軽にお問い合わせください。',
      ],
    },
    {
      id: '27',
      date: '2017-05-28',
      title: '租税公課の損金算入時期',
      text: [
        '法人税や住民税の本税など特定のものを除き、租税公課は原則として損金の額に算入される。この場合、損金の額に算入される租税公課の主な損金算入時期は、それぞれ次のとおりである。 ',
        '・申告納税方式の租税\n事業税・税込経理の消費税・酒税・事業所税など申告納税方式によるものは、原則として、納税申告書を提出した事業年度。\nまた、更正又は決定のあったものについては、その更正又は決定のあった事業年度。',
        '・賦課課税方式の租税\n不動産取得税・自動車税・固定資産税・都市計画税などの賦課課税方式によるものは、原則として、賦課決定のあった事業年度。\nただし、納期の開始日の事業年度又は実際に納付した事業年度において損金経理をした場合には、その損金経理をした事業年度。',
        '・特別徴収方式の租税\nゴルフ場利用税・軽油引取税などの特別徴収方式によるものは、原則として、納入申告書を提出した事業年度。\nまた、更正又は決定のあったものについては、その更正又は決定のあった事業年度。',
        '・その他\n国税の利子税や地方税の納期限の延長に係る延滞金は、納付した事業年度。\nただし、その事業年度の期間に対応する未納額を損金経理により未払金に計上したときは、その損金経理をした事業年度。',
        'なお、税込経理の消費税は、申告期限未到来の納付消費税を損金経理により未払金に計上したときは、その損金経理をした事業年度での損金算入が認められ、前期分の事業税は、申告等がされていない場合でもその事業年度の損金の額に算入することができる特例がある。',
      ],
    },
    {
      id: '28',
      date: '2017-06-21',
      title: '金額判定における税抜価格と税込価格',
      text: [
        '10万円未満の少額減価償却資産、30万円未満の特例消耗品、中小法人における年間800万円の交際費損金算入基準、会議費となる1人あたり5,000円以下の飲食費など、法人税の処理を行う場合に金額判定を必要とする規定は沢山ある。では、消費税の課税取引においてこの金額判定は税抜価格と税込価格のいずれになるのであろうか。',
        'この金額基準の判定は、当社の適用している経理方式により行うことになる。例えば、税抜価格280,000円、税込価格302,400円のパソコンを取得した場合、当社が税抜経理方式を採用していれば特例消耗品に該当し取得価額全額の損金算入が認められるが、税込経理方式を採用していれば資産計上し４年間で減価償却をすることになるのである。',
        '消費税の経理方式により消費税額自体に差異は生じないが、法人税には差異が生じることがあるので経理方式の選定には注意が必要である。',
      ],
    },
    {
      id: '29',
      date: '2017-07-03',
      title: '損害賠償金の消費税の取り扱い',
      text: [
        '心身又は資産に対する損害賠償金は対価性がないため、通常は消費税の課税対象とならない。しかし、次のような場合は、その実質が資産の譲渡又は役務提供と変わりないことから消費税の課税の対象になる。',
        '①損害を受けた棚卸資産が加害者に対して引き渡される場合に、その資産がそのまま又は軽微な修理を加えることによって使用することができるときのその収受する損害賠償金\n②特許権や商標権などの無体財産権の侵害を受けた場合に収受する損害賠償金\n③事務所の明渡しが遅れた場合に収受する損害賠償金',
        '損害賠償金でも、その名称だけでは判断できないので注意を要したい。',
        '',
      ],
    },
    {
      id: '30',
      date: '2017-07-15',
      title: '所得拡大促進税制の見直し',
      text: [
        '従業員の給与を一定の要件で増やしている場合には、その増加額の１０%を税額控除できる制度がありますが、平成２９年度税制改正により、その控除額が拡大され、最大給与増加額の２２％を控除できることになりました。',
        '詳しいことは、当事務所にご相談ください。',
      ],
    },
    {
      id: '31',
      date: '2017-07-28',
      title: 'お盆も休まず営業します。',
      text: [
        '当事務所はお盆期間中も休まず営業いたします。',
        'ご用件のある方は、お気軽にご連絡ください。',
      ],
    },
    {
      id: '32',
      date: '2017-11-10',
      title: '広大地評価が変わります',
      text: [
        '広大地とは、その地域における標準的な宅地の地積に比べて著しく地積が広大な宅地で、開発行為を行う場合に道路や公園等の公共公益的施設用地の負担が必要と認められる宅地をいいます。',
        '広大地に該当する場合、最大65%の評価減がとれますので、有効に適用できれば相続税の大幅な減額が可能です。しかし適用の可否が不明瞭で、実務的に問題になっていました。',
        'そこで広大地の評価は平成29年をもって廃止され、平成30年以降は「地積規模の大きな宅地」として適用要件が明確化されます。これにより評価減できる割合は、広大地評価に比べ相対的に減少しますが、使いやすくなることにより実務での活用が期待できます。',
        '詳細は当事務所までお問い合わせください。',
      ],
    },
    {
      id: '33',
      date: '2020-04-20',
      title: '新型コロナウイルス感染拡大防止の取り組み',
      text: [
        '新型コロナウイルス感染拡大防止による緊急事態宣言を受け、お客様と所員の健康と安全確保のため、下記のとおり対応させていただきます。\nお客様には大変ご迷惑をおかけいたしますが、ご理解いただきますようお願い申し上げます。',
        '新型コロナウイルスに伴い少なからず影響を受けているお客様も多いことと思われます。当事務所といたしましては税務会計面から精一杯のサポートをさせていただきますので、何なりとお申し付けください。',
        '記',
        '●在宅勤務の実施\n交代制により在宅勤務をさせていただいております。\n担当者が在宅勤務中の場合、お問合せ等の回答に時間を要する場合がございますのでご容赦ください。',
        '●マスク着用の徹底\nご面談時にはマスク着用をさせていただきます。\nまた、お客様にもマスク着用をお願いしております。',
        '●不急のご面談\nご相談のうえ、不急のご面談は延期させていただくことがございます。',
        '●４月３０日及び５月１日を臨時休業\n上記を臨時休業とさせていただくことにより、４月２９日から５月６日までのＧＷ期間中を連休とさせていただきます。',
        '以上',
        '令和２年４月',
        '吉田税理士事務所\n所長税理士　吉田　靖',
      ],
    },
    {
      id: '34',
      date: '2020-04-23',
      title: '令和2年4月30日・5月1日　臨時休業のお知らせ',
      text: [
        '新型コロナウイルス感染拡大防止のため外出を控える趣旨から、4月30日と5月1日を臨時休業とさせていただきます。',
        'これに伴い4月29日から5月6日まで連休となります。',
        'ご迷惑をお掛けしますが宜しくお願い致します。'
      ],
    },
    {
      id: '35',
      date: '2021-04-23',
      title: '令和3年4月30日　臨時休業のお知らせ',
      text: [
        '新型コロナウイルス感染症による東京都の3度目の緊急事態宣言を受け4月30日を臨時休業とさせていただきます。',
        'これに伴い4月29日から5月5日まで連休となります。',
        'ご迷惑をお掛けしますが宜しくお願い致します。'
      ],
    },
    {
      id: '36',
      date: '2021-05-10',
      title: '一時支援金の申請期限について',
      text: [
        '飲食店の時短営業や外出自粛等の影響により、2021年1月から3月の売上が2019年又は2020年比で50%以上減少している場合の一時支援金の申請期限は5月31日までとなっています。',
        'これから申請をお考えの事業者はお早めに手続きをしてください。'
      ],
    },
    {
      id: '37',
      date: '2021-05-13',
      title: '振替納税の残高不足にご注意を',
      text: [
        '確定申告に係る所得税と消費税の振替日が近づいてまいりました。',
        '残高不足の場合は法定納期限の翌日(4月16日)から延滞税がかかりますので注意してください。',
        '振替日は所得税が5月31日、消費税が5月24日です。',
      ],
    },
    {
      id: '38',
      date: '2021-05-13',
      title: '令和３年度の路線価公表されました',
      text: [
        '令和３年度の路線価公表されました。全国平均で0.5%下落しているようです。',
        '相続税、贈与税の評価をご検討の方はお気軽にご連絡ください。',
      ],
    },


  ];
