-
  // var shopList01 = [
  //   {img: 'sect_partner-shops/shop-01/img-16.jpg',text: 'コロッセオ中目黒',},
  //   {img: 'sect_partner-shops/shop-01/img-15.jpg',text: '餃子の店 おけ以',},
  //   {img: 'sect_partner-shops/shop-01/img-14.jpg',text: '焼肉しんうち神楽坂',},
  //   {img: 'sect_partner-shops/shop-01/img-13.jpg',text: '新潟三宝亭 東京ラボ',},
  //   {img: 'sect_partner-shops/shop-01/img-12.jpg',text: 'お好み焼 きじ',},
  //   {img: 'sect_partner-shops/shop-01/img-11.jpg',text: 'うなぎ岩崎',},
  //   {img: 'sect_partner-shops/shop-01/img-10.jpg',text: 'ダルマット',},
  //   {img: 'sect_partner-shops/shop-01/img-09.jpg',text: 'KO-SO CAFE BIORIS',},
  //   {img: 'sect_partner-shops/shop-01/img-08.jpg',text: 'ガパオキッチンファクトリー',},
  //   {img: 'sect_partner-shops/shop-01/img-07.jpg',text: 'kawara CAFE＆DINING',},
  //   {img: 'sect_partner-shops/shop-01/img-06.jpg',text: '銀座 らん月',},
  //   {img: 'sect_partner-shops/shop-01/img-05.jpg',text: '喫茶you',},
  //   {img: 'sect_partner-shops/shop-01/img-04.jpg',text: 'バインミー シンチャオ',},
  //   {img: 'sect_partner-shops/shop-01/img-03.jpg',text: 'カオタイ',},
  //   {img: 'sect_partner-shops/shop-01/img-02.jpg',text: 'フルーツボックス代官山',},
  //   {img: 'sect_partner-shops/shop-01/img-01.jpg',text: 'PARIYA',},
  //   {img: 'sect_partner-shops/shop-01/img-18.jpg',text: 'たいめいけん',},
  //   {img: 'sect_partner-shops/shop-01/img-17.jpg',text: 'かつれつ四ツ谷たけだ',},
  // ];
  // 
  // var shopList02 = [
  //   {img: 'sect_partner-shops/shop-02/img-19.jpg',text: '神楽坂石かわ',},
  //   {img: 'sect_partner-shops/shop-02/img-17.jpg',text: '鮨よしたけ',},
  //   {img: 'sect_partner-shops/shop-02/img-16.jpg',text: '虎白',},
  //   {img: 'sect_partner-shops/shop-02/img-15.jpg',text: '中国飯店 富麗華',},
  //   {img: 'sect_partner-shops/shop-02/img-14.jpg',text: '三田牛竈炭火焼 ウェスタ',},
  //   {img: 'sect_partner-shops/shop-02/img-13.jpg',text: '後楽寿司やす秀',},
  //   {img: 'sect_partner-shops/shop-02/img-12.jpg',text: '日本料理 太月',},
  //   {img: 'sect_partner-shops/shop-02/img-11.jpg',text: '青空',},
  //   {img: 'sect_partner-shops/shop-02/img-10.jpg',text: '東京しゃぶ家',},
  //   {img: 'sect_partner-shops/shop-02/img-09.jpg',text: '焼き鳥おみ乃',},
  //   {img: 'sect_partner-shops/shop-02/img-08.jpg',text: '蕃YORONIKU',},
  //   {img: 'sect_partner-shops/shop-02/img-07.jpg',text: 'recte',},
  //   {img: 'sect_partner-shops/shop-02/img-06.jpg',text: 'うなぎ魚政',},
  //   {img: 'sect_partner-shops/shop-02/img-05.jpg',text: '鮨あらい',},
  //   {img: 'sect_partner-shops/shop-02/img-04.jpg',text: '鳥さわ22',},
  //   {img: 'sect_partner-shops/shop-02/img-03.jpg',text: '銀座・器楽亭',},
  //   {img: 'sect_partner-shops/shop-02/img-02.jpg',text: 'erba da nakahigashi',},
  //   {img: 'sect_partner-shops/shop-02/img-01.jpg',text: 'わだ家別邸',},
  //   {img: 'sect_partner-shops/shop-02/img-20.jpg',text: '銀座久兵衛',},
  //   {img: 'sect_partner-shops/shop-02/img-18.jpg',text: '麻布かどわき',},
  // ];
  // 
  // var shopList03 = [
  //   'sect_partner-shops/logo/img-01.jpg',
  //   'sect_partner-shops/logo/img-02.jpg',
  //   'sect_partner-shops/logo/img-03.jpg',
  //   'sect_partner-shops/logo/img-04.jpg',
  //   'sect_partner-shops/logo/img-05.jpg',
  //   'sect_partner-shops/logo/img-06.jpg',
  //   'sect_partner-shops/logo/img-07.jpg',
  //   'sect_partner-shops/logo/img-08.jpg',
  //   'sect_partner-shops/logo/img-09.jpg',
  //   'sect_partner-shops/logo/img-10.jpg',
  //   'sect_partner-shops/logo/img-11.jpg',
  //   'sect_partner-shops/logo/img-12.jpg',
  //   'sect_partner-shops/logo/img-13.jpg',
  //   'sect_partner-shops/logo/img-14.jpg',
  //   'sect_partner-shops/logo/img-15.jpg',
  //   'sect_partner-shops/logo/img-16.jpg',
  //   'sect_partner-shops/logo/img-17.jpg',
  //   'sect_partner-shops/logo/img-18.jpg',
  //   'sect_partner-shops/logo/img-19.jpg',
  //   'sect_partner-shops/logo/img-20.jpg',
  //   'sect_partner-shops/logo/img-21.jpg',
  //   'sect_partner-shops/logo/img-22.jpg',
  //   'sect_partner-shops/logo/img-23.jpg',
  //   'sect_partner-shops/logo/img-24.jpg',
  //   'sect_partner-shops/logo/img-25.jpg',
  //   'sect_partner-shops/logo/img-26.jpg',
  // ];
