#cover {
  // background-color: $color-primary;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all 0.6s ease-out;
  pointer-events: none;
  &::before {
    content: '';
    background-color: $color-primary;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s ease-out 0.05s;
  }
  &::after {
    content: '';
    background-color: $color-primary;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.2s ease-out ;
  }
  &.is-break {
    &::before {
      transform: translateY(-100%);
    }
    &::after {
      transform: translateY(100%);
    }
  }
}


#coverLogo {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all 0.6s ease-out;
  svg {
    width:300px;
  }
}

#mask {
  .st0 {
    fill:none;
    stroke:#fff;
    stroke-width:20;/*線の太さを指定する*/
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray: 1500; /* 線の間隔を指定する */
    stroke-dashoffset:1500; /* 線の位置を指定する */
  }
}

.fade{
  overflow: hidden;
  position: relative;
  $val: 1s;
  $duration: .8s;
  $easing: cubic-bezier(0.000, 0.000, 0.105, 1.000);
  &.fade--left{
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity $val $easing,transform $duration $easing;
    @include mq-sp {
      transform: translateY(20px);
    }
  }
  &.fade--right{
    opacity: 0;
    transform: translateX(20px);
    transition: opacity $val $easing,transform $duration $easing;
    @include mq-sp {
      transform: translateY(20px);
    }
  }
  &.fade--in{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity $val $easing,transform $duration $easing;
  }
  &.fade--delay-01{
    transition-delay: .1s;
  }
  &.fade--delay-02{
    transition-delay: .25s;
  }
  &.fade--delay-03{
    transition-delay: 4s;
  }
  &.fade--delay-04{
    transition-delay: .55s;
  }
  &.fade--delay-none {
    @include mq-sp {
      transition-delay: 0s;
    }
  }

  .bg-appear {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.000, 0.000, 0.105, 1.000) 0.5s,transform 1.5s cubic-bezier(0.000, 0.000, 0.105, 1.000);
  }

  &.is-show{
    opacity: 1;
    transform: none;
    &::before {
      transform: none;
    }
    .bg-appear {
      opacity: 1;
    }
    .cover-mask{
      background-color: $color-primary-light;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      // opacity: 1;
      animation-name:PageAnime;
      animation-duration: 0.8s;
      animation-timing-function:ease-in-out;
      animation-fill-mode:forwards;
    }
  }

  @keyframes PageAnime{
    0% {
      transform-origin:right;
      transform:scaleX(0);
      opacity: 0.6;
    }
    50% {
      transform-origin:right;
      transform:scaleX(1);
      opacity: 1;
    }
    50.001% {
      transform-origin:left;
      opacity: 1;
    }
    100% {
      transform-origin:left;
      transform:scaleX(0);
      opacity: 0.8;
    }
  }


}

#coverLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  display: none;
  transition: opacity 0.1s ease-out;
  .loader {
    display: inline-block;
    text-align: center}
  @keyframes rotate_pacman_half_up {
    0% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg); }
    100% {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); } }

  @-webkit-keyframes rotate_pacman_half_down {
    0% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }

  @keyframes rotate_pacman_half_down {
    0% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); } }

  @-webkit-keyframes pacman-balls {
    75% {
      opacity: 0.7; }
    100% {
      -webkit-transform: translate(-100px, -6.25px);
              transform: translate(-100px, -6.25px); } }

  @keyframes pacman-balls {
    75% {
      opacity: 0.7; }
    100% {
      -webkit-transform: translate(-100px, -6.25px);
              transform: translate(-100px, -6.25px); } }

  .pacman {
    position: relative;
  }
  .pacman > div:nth-child(2) {
    -webkit-animation: pacman-balls 1s -0.99s infinite linear;
            animation: pacman-balls 1s -0.99s infinite linear;
  }
  .pacman > div:nth-child(3) {
    -webkit-animation: pacman-balls 1s -0.66s infinite linear;
            animation: pacman-balls 1s -0.66s infinite linear;
  }
  .pacman > div:nth-child(4) {
    -webkit-animation: pacman-balls 1s -0.33s infinite linear;
            animation: pacman-balls 1s -0.33s infinite linear;
  }
  .pacman > div:nth-child(5) {
    -webkit-animation: pacman-balls 1s 0s infinite linear;
            animation: pacman-balls 1s 0s infinite linear;
  }
  .pacman > div:first-of-type {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid $color-white;
    border-left: 25px solid $color-white;
    border-bottom: 25px solid $color-white;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_up 0.5s 0s infinite;
            animation: rotate_pacman_half_up 0.5s 0s infinite;
    position: relative;
    left: -30px;
  }
  .pacman > div:nth-child(2) {
    width: 0px;
    height: 0px;
    border-right: 25px solid transparent;
    border-top: 25px solid $color-white;
    border-left: 25px solid $color-white;
    border-bottom: 25px solid $color-white;
    border-radius: 25px;
    -webkit-animation: rotate_pacman_half_down 0.5s 0s infinite;
            animation: rotate_pacman_half_down 0.5s 0s infinite;
    margin-top: -50px;
    position: relative;
    left: -30px;
  }
  .pacman > div:nth-child(3),
  .pacman > div:nth-child(4),
  .pacman > div:nth-child(5),
  .pacman > div:nth-child(6) {
    background-color: $color-white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-transform: translate(0, -6.25px);
            transform: translate(0, -6.25px);
    top: 25px;
    left: 70px;
  }
}
