.footer {
  background-color: $color-primary-light;
  .inner--footer {
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include mq-sp {
      padding: 30px 0 15px;
    }
  }
  .title {
    color: $color-primary;
    font-size: 24px;
    font-weight: bold;
    @include mq-sp {
      font-size: 16px;
    }
  }
  .address {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    @include mq-sp {
      font-size: 14px;
      line-height: 1.4;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    span {
      display: inline-block;
      +span {
        margin-left: 0.5em;
      }
    }
  }
  .footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    @include mq-sp {
      margin-bottom: 30px;
    }
  }
  .tel {
    font-size: 18px;
    margin: 0 1em;
    display: flex;
    @include mq-sp {
      font-size: 14px;
      margin: 0 0.55em;
    }
    .name {
      margin-right: 0.5em;
    }
  }
  .fax {
    font-size: 18px;
    margin: 0 1em;
    display: flex;
    @include mq-sp {
      font-size: 14px;
      margin: 0 0.55em;
    }
    .name {
      margin-right: 0.5em;
    }
  }
  .copy {
    font-size: 14px;
    font-weight: bold;
    @include mq-sp {
      font-size: 10px;
      text-align: center;
      line-height: 1.2;
    }

  }
}
